.expereince{
    padding: 60px 0px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__pretitle{
        color: #7B7B7B;
        margin-bottom: 25px;
        display: inline-block;
        @extend %work-normal;
    }
    &__title{
       @extend %work-semibold; 
       font-size: 39px;
       line-height: 48px;
       color: #373737;
       margin-bottom: 18px;
       max-width: 490px;
    }
    &__title-color{
        color:#FF5300;
    }
    &__text{
        p{
            margin-bottom: 35px;
            max-width: 570px;
        }
        margin-bottom: 15px;
    }
    &__blocks{
        display: grid;
        grid-template-columns: repeat(2,270px);
        grid-gap: 30px;
    }
    &__blocks-item{
        text-align: center;
        padding: 74px 40px;
        box-sizing: border-box;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        &:nth-child(2n+2){
            transform: translatey(25px)
        }
    }
    &__blocks-number{
        @extend %work-bold;
        font-size: 48px;
        line-height: 59px;
        color: #373737;
        margin-bottom: 18px;
    }
    &__blocks-text{
        @extend %work-medium;
        font-size: 20px;
        line-height: 25px;
        color: #7B7B7B;
    }
}